# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
qms
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
原型0506/标记气泡_Web端.jpg
原型0506/登记表格_移动端_-按钮查看检验表.jpg
原型0506/登记表格_移动端_-提交查看检验表（点击提交后）.jpg
原型0506/登记表格_移动端.jpg
原型0506/检前登记_移动端.jpg
质量检验系统1.0/登记表格.html
质量检验系统1.0/检前登记.html
质量检验系统1.0/手动标记气泡.html
质量检验系统1.0/index.html
质量检验系统1.0/start_c_1.html
质量检验系统1.0/start_with_pages.html
质量检验系统1.0/start.html
质量检验系统1.0/data/document.js
质量检验系统1.0/data/styles.css
质量检验系统1.0/files/手动标记气泡/data.js
质量检验系统1.0/files/手动标记气泡/styles.css
质量检验系统1.0/files/检前登记/data.js
质量检验系统1.0/files/检前登记/styles.css
质量检验系统1.0/files/登记表格/data.js
质量检验系统1.0/files/登记表格/styles.css
质量检验系统1.0/images/手动标记气泡/标签栏范围_u7.svg
质量检验系统1.0/images/手动标记气泡/菜单栏范围_u5.svg
质量检验系统1.0/images/手动标记气泡/尺寸公差_u111.svg
质量检验系统1.0/images/手动标记气泡/尺寸公差_u118.svg
质量检验系统1.0/images/手动标记气泡/图纸_u9.jpg
质量检验系统1.0/images/手动标记气泡/u15.png
质量检验系统1.0/images/手动标记气泡/u16.svg
质量检验系统1.0/images/手动标记气泡/u22.svg
质量检验系统1.0/images/手动标记气泡/u23.png
质量检验系统1.0/images/手动标记气泡/u33.png
质量检验系统1.0/images/手动标记气泡/u39_seg0.svg
质量检验系统1.0/images/手动标记气泡/u39_seg1.svg
质量检验系统1.0/images/手动标记气泡/u39_seg2.svg
质量检验系统1.0/images/手动标记气泡/u39_seg3.svg
质量检验系统1.0/images/手动标记气泡/u39_seg4.svg
质量检验系统1.0/images/手动标记气泡/u39_seg5.svg
质量检验系统1.0/images/手动标记气泡/u39_seg6.svg
质量检验系统1.0/images/手动标记气泡/u43_seg0.svg
质量检验系统1.0/images/手动标记气泡/u43_seg1.svg
质量检验系统1.0/images/手动标记气泡/u43_seg2.svg
质量检验系统1.0/images/手动标记气泡/u47_seg0.svg
质量检验系统1.0/images/手动标记气泡/u47_seg1.svg
质量检验系统1.0/images/手动标记气泡/u50_seg0.svg
质量检验系统1.0/images/手动标记气泡/u50_seg1.svg
质量检验系统1.0/images/手动标记气泡/u50_seg2.svg
质量检验系统1.0/images/手动标记气泡/u51_seg0.svg
质量检验系统1.0/images/手动标记气泡/u51_seg1.svg
质量检验系统1.0/images/手动标记气泡/u51_seg2.svg
质量检验系统1.0/images/手动标记气泡/u51_seg3.svg
质量检验系统1.0/images/手动标记气泡/u55_seg0.svg
质量检验系统1.0/images/手动标记气泡/u55_seg1.svg
质量检验系统1.0/images/手动标记气泡/u55_seg2.svg
质量检验系统1.0/images/手动标记气泡/u55_seg3.svg
质量检验系统1.0/images/手动标记气泡/u55_seg4.svg
质量检验系统1.0/images/手动标记气泡/u55_seg5.svg
质量检验系统1.0/images/手动标记气泡/u57.svg
质量检验系统1.0/images/手动标记气泡/u58.svg
质量检验系统1.0/images/手动标记气泡/u62_seg0.svg
质量检验系统1.0/images/手动标记气泡/u62_seg1.svg
质量检验系统1.0/images/手动标记气泡/u62_seg2.svg
质量检验系统1.0/images/手动标记气泡/u74_seg0.svg
质量检验系统1.0/images/手动标记气泡/u74_seg1.svg
质量检验系统1.0/images/手动标记气泡/u105.png
质量检验系统1.0/images/手动标记气泡/u109.svg
质量检验系统1.0/images/手动标记气泡/u110.svg
质量检验系统1.0/images/手动标记气泡/u115.svg
质量检验系统1.0/images/手动标记气泡/u116.svg
质量检验系统1.0/images/手动标记气泡/u117.svg
质量检验系统1.0/images/手动标记气泡/u134.svg
质量检验系统1.0/images/手动标记气泡/u135.svg
质量检验系统1.0/images/手动标记气泡/u151.svg
质量检验系统1.0/images/手动标记气泡/u154.svg
质量检验系统1.0/images/手动标记气泡/u157.svg
质量检验系统1.0/images/手动标记气泡/u160.svg
质量检验系统1.0/images/检前登记/u178.svg
质量检验系统1.0/images/检前登记/u212_seg0.svg
质量检验系统1.0/images/检前登记/u212_seg1.svg
质量检验系统1.0/images/检前登记/u212_seg2.svg
质量检验系统1.0/images/检前登记/u212_seg3.svg
质量检验系统1.0/images/检前登记/u212_seg4.svg
质量检验系统1.0/images/检前登记/u213_seg0.svg
质量检验系统1.0/images/检前登记/u213_seg1.svg
质量检验系统1.0/images/检前登记/u213_seg2.svg
质量检验系统1.0/images/检前登记/u213_seg3.svg
质量检验系统1.0/images/检前登记/u213_seg4.svg
质量检验系统1.0/images/检前登记/u216_seg0.svg
质量检验系统1.0/images/检前登记/u216_seg1.svg
质量检验系统1.0/images/检前登记/u216_seg2.svg
质量检验系统1.0/images/检前登记/u216_seg3.svg
质量检验系统1.0/images/检前登记/u216_seg4.svg
质量检验系统1.0/images/检前登记/u219_seg0.svg
质量检验系统1.0/images/检前登记/u219_seg1.svg
质量检验系统1.0/images/检前登记/u219_seg2.svg
质量检验系统1.0/images/检前登记/u219_seg3.svg
质量检验系统1.0/images/检前登记/u223_seg0.svg
质量检验系统1.0/images/检前登记/u223_seg1.svg
质量检验系统1.0/images/检前登记/u223_seg2.svg
质量检验系统1.0/images/检前登记/u223_seg3.svg
质量检验系统1.0/images/登记表格/u320_seg0.svg
质量检验系统1.0/images/登记表格/u320_seg1.svg
质量检验系统1.0/images/登记表格/u320_seg2.svg
质量检验系统1.0/images/登记表格/u320_seg3.svg
质量检验系统1.0/images/登记表格/u320_seg4.svg
质量检验系统1.0/images/登记表格/u322_seg0.svg
质量检验系统1.0/images/登记表格/u322_seg1.svg
质量检验系统1.0/images/登记表格/u322_seg2.svg
质量检验系统1.0/images/登记表格/u322_seg3.svg
质量检验系统1.0/plugins/debug/debug.js
质量检验系统1.0/plugins/debug/styles/debug.css
质量检验系统1.0/plugins/debug/styles/images/console_panel_off.svg
质量检验系统1.0/plugins/debug/styles/images/console_panel_on.svg
质量检验系统1.0/plugins/page_notes/page_notes.js
质量检验系统1.0/plugins/page_notes/styles/page_notes.css
质量检验系统1.0/plugins/page_notes/styles/images/notes_panel_off.svg
质量检验系统1.0/plugins/page_notes/styles/images/notes_panel_on.svg
质量检验系统1.0/plugins/recordplay/recordplay.js
质量检验系统1.0/plugins/recordplay/styles/recordplay.css
质量检验系统1.0/plugins/sitemap/sitemap.js
质量检验系统1.0/plugins/sitemap/styles/sitemap.css
质量检验系统1.0/plugins/sitemap/styles/images/back_keys.svg
质量检验系统1.0/plugins/sitemap/styles/images/closed_item.svg
质量检验系统1.0/plugins/sitemap/styles/images/folder_closed_blue.svg
质量检验系统1.0/plugins/sitemap/styles/images/forward_keys.svg
质量检验系统1.0/plugins/sitemap/styles/images/left_arrow.svg
质量检验系统1.0/plugins/sitemap/styles/images/open_item.svg
质量检验系统1.0/plugins/sitemap/styles/images/page_lt_grey.svg
质量检验系统1.0/plugins/sitemap/styles/images/right_arrow.svg
质量检验系统1.0/plugins/sitemap/styles/images/search_off.svg
质量检验系统1.0/plugins/sitemap/styles/images/search_on.svg
质量检验系统1.0/plugins/sitemap/styles/images/sitemap_panel_off.svg
质量检验系统1.0/plugins/sitemap/styles/images/sitemap_panel_on.svg
质量检验系统1.0/resources/expand.html
质量检验系统1.0/resources/Other.html
质量检验系统1.0/resources/reload.html
质量检验系统1.0/resources/chrome/allow-access.png
质量检验系统1.0/resources/chrome/axure_logo.png
质量检验系统1.0/resources/chrome/axure-chrome-extension.crx
质量检验系统1.0/resources/chrome/chrome.html
质量检验系统1.0/resources/chrome/details.png
质量检验系统1.0/resources/chrome/extensions.png
质量检验系统1.0/resources/chrome/safari_advanced.png
质量检验系统1.0/resources/chrome/safari_restrictions.png
质量检验系统1.0/resources/chrome/safari.html
质量检验系统1.0/resources/chrome/splitter.gif
质量检验系统1.0/resources/chrome/splitter.png
质量检验系统1.0/resources/css/axure_rp_page.css
质量检验系统1.0/resources/css/default.css
质量检验系统1.0/resources/css/jquery-ui-themes.css
质量检验系统1.0/resources/css/previewfonts.css
质量检验系统1.0/resources/css/reset.css
质量检验系统1.0/resources/css/images/images.html
质量检验系统1.0/resources/css/images/newwindow.gif
质量检验系统1.0/resources/css/images/note.gif
质量检验系统1.0/resources/css/images/touch.cur
质量检验系统1.0/resources/css/images/touch.svg
质量检验系统1.0/resources/css/images/ui-bg_flat_0_aaaaaa_40x100.png
质量检验系统1.0/resources/css/images/ui-bg_glass_55_fbf9ee_1x400.png
质量检验系统1.0/resources/css/images/ui-bg_glass_65_ffffff_1x400.png
质量检验系统1.0/resources/css/images/ui-bg_glass_75_dadada_1x400.png
质量检验系统1.0/resources/css/images/ui-bg_glass_75_e6e6e6_1x400.png
质量检验系统1.0/resources/css/images/ui-bg_glass_75_ffffff_1x400.png
质量检验系统1.0/resources/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png
质量检验系统1.0/resources/css/images/ui-bg_inset-soft_95_fef1ec_1x100.png
质量检验系统1.0/resources/css/images/ui-icons_2e83ff_256x240.png
质量检验系统1.0/resources/css/images/ui-icons_222222_256x240.png
质量检验系统1.0/resources/css/images/ui-icons_454545_256x240.png
质量检验系统1.0/resources/css/images/ui-icons_888888_256x240.png
质量检验系统1.0/resources/css/images/ui-icons_cd0a0a_256x240.png
质量检验系统1.0/resources/css/previewfonts/SourceSansPro-Regular.woff2
质量检验系统1.0/resources/css/previewfonts/SourceSansPro-Semibold.woff2
质量检验系统1.0/resources/images/axure_logo.png
质量检验系统1.0/resources/images/axure_logo.svg
质量检验系统1.0/resources/images/axure9_logo.svg
质量检验系统1.0/resources/images/caret_down_off.svg
质量检验系统1.0/resources/images/caret_down.svg
质量检验系统1.0/resources/images/close_x_minimize.svg
质量检验系统1.0/resources/images/close_x.svg
质量检验系统1.0/resources/images/divider.png
质量检验系统1.0/resources/images/divider.svg
质量检验系统1.0/resources/images/exit.svg
质量检验系统1.0/resources/images/favicon_play.ico
质量检验系统1.0/resources/images/overflow_checkmark.svg
质量检验系统1.0/resources/images/overflow_icon_off.svg
质量检验系统1.0/resources/images/overflow-icon.svg
质量检验系统1.0/resources/images/refresh.svg
质量检验系统1.0/resources/images/resize.svg
质量检验系统1.0/resources/images/return.svg
质量检验系统1.0/resources/images/transparent.gif
质量检验系统1.0/resources/images/views-icon.svg
质量检验系统1.0/resources/scripts/axutils.js
质量检验系统1.0/resources/scripts/jquery-1.7.1.min.js
质量检验系统1.0/resources/scripts/jquery-3.2.1.min.js
质量检验系统1.0/resources/scripts/jquery-ui-1.8.10.custom.min.js
质量检验系统1.0/resources/scripts/messagecenter.js
质量检验系统1.0/resources/scripts/axure/action.js
质量检验系统1.0/resources/scripts/axure/adaptive.js
质量检验系统1.0/resources/scripts/axure/annotation.js
质量检验系统1.0/resources/scripts/axure/axQuery.js
质量检验系统1.0/resources/scripts/axure/axQuery.std.js
质量检验系统1.0/resources/scripts/axure/doc.js
质量检验系统1.0/resources/scripts/axure/drag.js
质量检验系统1.0/resources/scripts/axure/events.js
质量检验系统1.0/resources/scripts/axure/expr.js
质量检验系统1.0/resources/scripts/axure/flyout.js
质量检验系统1.0/resources/scripts/axure/geometry.js
质量检验系统1.0/resources/scripts/axure/globals.js
质量检验系统1.0/resources/scripts/axure/ie.js
质量检验系统1.0/resources/scripts/axure/init.temp.js
质量检验系统1.0/resources/scripts/axure/ios.js
质量检验系统1.0/resources/scripts/axure/jquery.nicescroll.min.js
质量检验系统1.0/resources/scripts/axure/legacy.js
质量检验系统1.0/resources/scripts/axure/math.js
质量检验系统1.0/resources/scripts/axure/model.js
质量检验系统1.0/resources/scripts/axure/move.js
质量检验系统1.0/resources/scripts/axure/recording.js
质量检验系统1.0/resources/scripts/axure/repeater.js
质量检验系统1.0/resources/scripts/axure/sto.js
质量检验系统1.0/resources/scripts/axure/style.js
质量检验系统1.0/resources/scripts/axure/tree.js
质量检验系统1.0/resources/scripts/axure/utils.temp.js
质量检验系统1.0/resources/scripts/axure/variables.js
质量检验系统1.0/resources/scripts/axure/viewer.js
质量检验系统1.0/resources/scripts/axure/visibility.js
质量检验系统1.0/resources/scripts/player/axplayer.js
质量检验系统1.0/resources/scripts/player/init.js
质量检验系统1.0/resources/scripts/player/splitter.js
